body {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-family: 'WDXL Lubrifont TC', sans-serif;
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

main {
  width: 80vw;
  margin: 64px auto;
}

main section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

main section h3 {
  text-align: center;
}

.review-cards {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  gap: 32px;
}

.review-card {
  border: 1px solid #ebebe7;
  padding: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table caption {
  margin-bottom: 16px;
}

th,
td,
tr {
  border: 1px solid #ebebe7;
  padding: 16px;
}

th {
  text-align: start;
}

tr:hover {
  background: #e6e9ef;
}

.article-cards {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 32px;
}

.article-card {
  flex: 1;
}

.article-card img {
  width: 100%;
}

form {
  border: 1px solid #ebebe7;
  padding: 64px;
}

form,
form div {
  width: 100%;
}

form div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

form input,
form textarea {
  width: 100%;
}

textarea {
  height: 64px;
}

label {
  width: 96px;
}
